<table ng-table="ctrl.tableParams" class="table" show-filter="true" onload="ctrl.loadView()" 
  ng-hide="ctrl.noRecords">
    <tr ng-repeat="movie in $data">
        <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
            {{movie.title}}</td>
        <td title="'Release Year'" filter="{ releaseYear: 'text'}" sortable="'releaseYear'">
            {{movie.releaseYear}}</td>
        <td title="'Rating'" filter="{ rating: 'number'}" sortable="'rating'">
            {{movie.rating}}</td>
        <td><button ng-click="ctrl.deleteMovie(movie._id)">Delete</button></td>
    </tr>
</table>
<p ng-show="ctrl.noRecords">No records exist</p>
<p ng-show="ctrl.retrieveServerError">Internal server error occurred on retrieving movies</p>
<p ng-show="ctrl.deleteServerError">Internal server error occurred on deleting movie</p>