<table ng-table="ctrl.tableParams" class="table" show-filter="true" onload="ctrl.loadView()" 
  ng-hide="ctrl.noRecords">
    <tr ng-repeat="movie in $data">
        <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
            {{movie.title}}</td>
        <td title="'Release Year'" filter="{ releaseYear: 'text'}" sortable="'releaseYear'">
            {{movie.releaseYear}}</td>
        <td title="'Rating'" filter="{ rating: 'number'}" sortable="'rating'">
            {{movie.rating}}</td>
    </tr>
</table>
<p ng-show="ctrl.noRecords">No records exist</p>
<p ng-show="ctrl.serverError">Internal server error occurred</p>